In [6]:
from sklearn.datasets import load_iris
iris = load_iris()
import pandas as pd
#iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
#iris['data']
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [5]:
iris_df = pd.DataFrame(data=iris.data, columns=['longitud del sépalo','ancho del sépalo','longitud del pétalo','ancho del pétalo'])
iris_df

,longitud del sépalo,ancho del sépalo,longitud del pétalo,ancho del pétalo
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

## Tratamiento de datos faltantes

In [7]:
import numpy as np
import pandas as pd
data=[[1.0,2.0,3.0,4.0],[5.0,6.0,np.nan,8.0],[10.0,11.0,12.0,np.nan]]
df = pd.DataFrame(np.array(data), columns=['A','B','C','D'])
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [8]:
df.isnull()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True

In [9]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [10]:
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [11]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [12]:
# Elimiar filas con NaN
df_cleaned = df.dropna()
df_cleaned

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [13]:
df.dropna(inplace=True) # Modifica el DataFrame original
df

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [14]:
# Cargo los datos de nuevo
df = pd.DataFrame(np.array(data), columns=['A','B','C','D'])
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [15]:
df.dropna(axis=1, inplace=True) # Elimina columnas con NaN
df

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [ ]:
df = pd.DataFrame(np.array(data), columns=['A','B','C','D'])
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [17]:
# añadir una fila con NaN
df.loc[3] = [np.nan, np.nan, np.nan, np.nan]

In [18]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  NaN

In [19]:
df.dropna(how='all', inplace=True)  # Elimina filas donde todos los valores son NaN
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [20]:
df.loc[3] = [np.nan, np.nan, np.nan, 3]
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  3.0

In [ ]:
df.dropna(thresh=3, inplace=True) # Borra filas con al menos 3 valores NaN
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [22]:
df.dropna(subset=['C'], inplace=True) # Elimina filas con NaN en columna C
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

In [23]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
df = pd.DataFrame(np.array(data), columns=['A','B','C','D'])
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [24]:
help(imputer.fit)

Help on method fit in module sklearn.impute._base:

fit(X, y=None) method of sklearn.impute._base.SimpleImputer instance
    Fit the imputer on `X`.

    Parameters
    ----------
    X : {array-like, sparse matrix}, shape (n_samples, n_features)
        Input data, where `n_samples` is the number of samples and
        `n_features` is the number of features.

    y : Ignored
        Not used, present here for API consistency by convention.

    Returns
    -------
    self : object
        Fitted estimator.

In [26]:
nuevos_valores = imputer.fit_transform(df.values)
nuevos_valores

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [10. , 11. , 12. ,  6. ]])

## Tratamiento de datos categóricos

In [27]:
df = pd.DataFrame([['green', 'M', 10.1, 'class2'],
                   ['red', 'L', 13.5, 'class1'],
                   ['blue', 'XL', 15.3, 'class2']])
df

       0   1     2       3
0  green   M  10.1  class2
1    red   L  13.5  class1
2   blue  XL  15.3  class2

In [28]:
df.columns = ['color', 'talla', 'peso', 'clase'] # Asignar nombres a las columnas
talla_mapping = {'M':1, 'L':2, 'XL':3} # Diccionario de mapeo, asignando números a las tallas
df['talla'] = df['talla'].map(talla_mapping) # Aplicar el mapeo a la columna 'talla'
df

   color  talla  peso   clase
0  green      1  10.1  class2
1    red      2  13.5  class1
2   blue      3  15.3  class2

In [29]:
clase_mapping = {'class1':0, 'class2':1} # Diccionario de mapeo para la clase
df['clase'] = df['clase'].map(clase_mapping) # Aplicar el mapeo a la columna 'clase'
colores_mapping = {'red':0, 'green':1, 'blue':2} # Diccionario de mapeo para colores
df['color'] = df['color'].map(colores_mapping) # Aplicar el mapeo a la columna 'color'
df

   color  talla  peso  clase
0      1      1  10.1      1
1      0      2  13.5      0
2      2      3  15.3      1

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() # Crear el codificador de etiquetas basado en sklearn con un ordenamiento automático
df = pd.DataFrame([['green', 'M', 10.1, 'class2'],
                   ['red', 'L', 13.5, 'class1'],
                   ['blue', 'XL', 15.3, 'class2']])
df.columns = ['color', 'talla', 'peso', 'clase']

df['color'] = le.fit_transform(df['color'])
df['talla'] = le.fit_transform(df['talla'])
df['clase'] = le.fit_transform(df['clase'])
df

   color  talla  peso  clase
0      1      1  10.1      1
1      2      0  13.5      0
2      0      2  15.3      1

In [34]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
iris_resultado = pd.DataFrame(data=iris.target, columns=['tipo de iris'])
iris_resultado['tipo de iris'].replace({0:'setosa', 1:'versicolor', 2:'virginica'}, inplace=True) # Reemplazar los valores numéricos por los nombres de las clases y los cambios se producen en el mismo DataFrame 
iris_resultado

    tipo de iris
0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
..           ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica

[150 rows x 1 columns]

In [43]:
iris_resultado = pd.get_dummies(iris_resultado, columns=['tipo de iris'])
iris_resultado

     tipo de iris_setosa  tipo de iris_versicolor  tipo de iris_virginica
0                   True                    False                   False
1                   True                    False                   False
2                   True                    False                   False
3                   True                    False                   False
4                   True                    False                   False
..                   ...                      ...                     ...
145                False                    False                    True
146                False                    False                    True
147                False                    False                    True
148                False                    False                    True
149                False                    False                    True

[150 rows x 3 columns]

## One Hot Encoder

In [52]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

data = [['red', 'M', 10.1, 'class2'],
        ['red', 'L', 13.5, 'class1'],   
        ['blue', 'XL', 15.3, 'class2']]
df = pd.DataFrame(data, columns=['color', 'size', 'value', 'class'])
print("DataFrame original:")
print(df)
df_dummies = pd.get_dummies(df, columns=['color', 'size', 'class'])
print("DataFrame con variables categóricas convertidas en variables dummy:")
print(df_dummies)
# OneHotEncoder de sklearn
ohe = OneHotEncoder(sparse_output=False)
#ohe_fit = ohe.fit_transform(df[['color', 'size', 'class']])
encoded_df = pd.DataFrame(ohe.fit_transform(df[['color', 'size', 'class']]), columns=ohe.get_feature_names_out(['color', 'size', 'class']))
encoded_df = pd.concat([ df[['value']].reset_index(drop=True), encoded_df], axis=1)
print("DataFrame con variables categóricas convertidas en variables dummy (OneHotEncoder):")
print(encoded_df)

DataFrame original:
  color size  value   class
0   red    M   10.1  class2
1   red    L   13.5  class1
2  blue   XL   15.3  class2
DataFrame con variables categóricas convertidas en variables dummy:
   value  color_blue  color_red  size_L  size_M  size_XL  class_class1  \
0   10.1       False       True   False    True    False         False
1   13.5       False       True    True   False    False          True
2   15.3        True      False   False   False     True         False

   class_class2
0          True
1         False
2          True
DataFrame con variables categóricas convertidas en variables dummy (OneHotEncoder):
   value  color_blue  color_red  size_L  size_M  size_XL  class_class1  \
0   10.1         0.0        1.0     0.0     1.0      0.0           0.0
1   13.5         0.0        1.0     1.0     0.0      0.0           1.0
2   15.3         1.0        0.0     0.0     0.0      1.0           0.0

   class_class2
0           1.0
1           0.0
2           1.0

In [53]:
from sklearn.datasets import load_wine
import pandas as pd

wine = load_wine()
wine_df = pd.DataFrame(data=wine.data, columns=wine.feature_names)
wine_df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [ ]:
from sklearn.model_selection import train_test_split

X, y = wine_df, wine.target  # Características y variable objetivo

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state=0,stratify=y) # Dividir los datos en conjuntos de entrenamiento y prueba
print(X_train)
print(y_train)

In [58]:
wine

{'data': array([[1.423e+01, 1.710e+00, 2.430e+00, ..., 1.040e+00, 3.920e+00,
         1.065e+03],
        [1.320e+01, 1.780e+00, 2.140e+00, ..., 1.050e+00, 3.400e+00,
         1.050e+03],
        [1.316e+01, 2.360e+00, 2.670e+00, ..., 1.030e+00, 3.170e+00,
         1.185e+03],
        ...,
        [1.327e+01, 4.280e+00, 2.260e+00, ..., 5.900e-01, 1.560e+00,
         8.350e+02],
        [1.317e+01, 2.590e+00, 2.370e+00, ..., 6.000e-01, 1.620e+00,
         8.400e+02],
        [1.413e+01, 4.100e+00, 2.740e+00, ..., 6.100e-01, 1.600e+00,
         5.600e+02]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2]),
 'frame': None,
 'target_names': array(['class_0', 'class_1', 'class_2'], dtype='<U7'),
 'DESCR': '.. _wine_dataset:\n\nWine recognition dataset\n------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 178\n    :Number of Attributes: 13 numeric, predictive attributes and the class\n    :Attribute Information:\n \t\t- Alcohol\n \t\t- Malic acid\n \t\t- Ash\n\t\t- Alcalinity of ash  \n \t\t- Magnesium\n\t\t- Total phenols\n \t\t- Flavanoids\n \t\t- Nonflavanoid phenols\n \t\t- Proanthocyanins\n\t\t- Color intensity\n \t\t- Hue\n \t\t- OD280/OD315 of diluted wines\n \t\t- Proline\n\n    - class:\n            - class_0\n            - class_1\n            - class_2\n\t\t\n    :Summary Statistics:\n    \n    ============================= ==== ===== ======= =====\n                                   Min   Max   Mean     SD\n    ============================= ==== ===== ======= =====\n    Alcohol:                      11.0  14.8    13.0   0.8\n    Malic Acid:                   0.74  5.80    2.34  1.12\n    Ash:                          1.36  3.23    2.36  0.27\n    Alcalinity of Ash:            10.6  30.0    19.5   3.3\n    Magnesium:                    70.0 162.0    99.7  14.3\n    Total Phenols:                0.98  3.88    2.29  0.63\n    Flavanoids:                   0.34  5.08    2.03  1.00\n    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12\n    Proanthocyanins:              0.41  3.58    1.59  0.57\n    Colour Intensity:              1.3  13.0     5.1   2.3\n    Hue:                          0.48  1.71    0.96  0.23\n    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71\n    Proline:                       278  1680     746   315\n    ============================= ==== ===== ======= =====\n\n    :Missing Attribute Values: None\n    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML Wine recognition datasets.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data\n\nThe data is the results of a chemical analysis of wines grown in the same\nregion in Italy by three different cultivators. There are thirteen different\nmeasurements taken for different constituents found in the three types of\nwine.\n\nOriginal Owners: \n\nForina, M. et al, PARVUS - \nAn Extendible Package for Data Exploration, Classification and Correlation. \nInstitute of Pharmaceutical and Food Analysis and Technologies,\nVia Brigata Salerno, 16147 Genoa, Italy.\n\nCitation:\n\nLichman, M. (2013). UCI Machine Learning Repository\n[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,\nSchool of Information and Computer Science. \n\n.. topic:: References\n\n  (1) S. Aeberhard, D. Coomans and O. de Vel, \n  Comparison of Classifiers in High Dimensional Settings, \n  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of  \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Technometrics). \n\n  The data was used with many others for comparing various \n  classifiers. The classes are separable, though only RDA \n  has achieved 100% correct classification. \n  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data)) \n  (All results using the leave-one-out technique) \n\n  (2) S. Aeberhard, D. Coomans and O. de Vel, \n  "THE CLASSIFICATION PERFORMANCE OF RDA" \n  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of \n  Mathematics and Statistics, James Cook University of North Queensland. \n  (Also submitted to Journal of Chemometrics).\n',
 'feature_names': ['alcohol',
  'malic_acid',
  'ash',
  'alcalinity_of_ash',
  'magnesium',
  'total_phenols',
  'flavanoids',
  'nonflavanoid_phenols',
  'proanthocyanins',
  'color_intensity',
  'hue',
  'od280/od315_of_diluted_wines',
  'proline']}

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

X, y = wine_df, wine.target  # Características y variable objetivo

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3,random_state=0,stratify=y) # Dividir los datos en conjuntos de entrenamiento y prueba

print("Valores sin escalar:")
print(X_train)
print(X_test)
print("Valores con una escala estándar:")
standard_scaler = StandardScaler()  # Crear el escalador estándar
X_train_scaled = standard_scaler.fit_transform(X_train)  # Ajustar y transformar los datos de entrenamiento
X_test_scaled = standard_scaler.transform(X_test)  # Transformar los datos de prueba
print(X_train_scaled)
print(X_test_scaled)
print("Valores con una escala min-max:")
minmax_scaler = MinMaxScaler()  # Crear el escalador min-max
X_train_minmax = minmax_scaler.fit_transform(X_train)  # Ajustar y transformar los datos de entrenamiento
X_test_minmax = minmax_scaler.transform(X_test)  # Transformar los datos de prueba
print(X_train_minmax)
print(X_test_minmax)
print("Valores con una escala robusta:")
robust_scaler = RobustScaler()  # Crear el escalador robusto
X_train_robust = robust_scaler.fit_transform(X_train)  # Ajustar y transformar los datos de entrenamiento
X_test_robust = robust_scaler.transform(X_test)  # Transformar los datos de prueba
print(X_train_robust)
print(X_test_robust)

Valores sin escalar:
     alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
143    13.62        4.95  2.35               20.0       92.0           2.00
33     13.76        1.53  2.70               19.5      132.0           2.95
30     13.73        1.50  2.70               22.5      101.0           3.00
34     13.51        1.80  2.65               19.0      110.0           2.35
135    12.60        2.46  2.20               18.5       94.0           1.62
..       ...         ...   ...                ...        ...            ...
82     12.08        1.13  2.51               24.0       78.0           2.00
174    13.40        3.91  2.48               23.0      102.0           1.80
146    13.88        5.04  2.23               20.0       80.0           0.98
74     11.96        1.09  2.30               21.0      101.0           3.38
79     12.70        3.87  2.40               23.0      101.0           2.83

     flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
143        0.80                  0.47             1.02             4.40  0.91
33         2.74                  0.50             1.35             5.40  1.25
30         3.25                  0.29             2.38             5.70  1.19
34         2.53                  0.29             1.54             4.20  1.10
135        0.66                  0.63             0.94             7.10  0.73
..          ...                   ...              ...              ...   ...
82         1.58                  0.40             1.40             2.20  1.31
174        0.75                  0.43             1.41             7.30  0.70
146        0.34                  0.40             0.68             4.90  0.58
74         2.14                  0.13             1.65             3.21  0.99
79         2.55                  0.43             1.95             2.57  1.19

     od280/od315_of_diluted_wines  proline
143                          2.05    550.0
33                           3.00   1235.0
30                           2.71   1285.0
34                           2.87   1095.0
135                          1.58    695.0
..                            ...      ...
82                           2.72    630.0
174                          1.56    750.0
146                          1.33    415.0
74                           3.13    886.0
79                           3.13    463.0

[124 rows x 13 columns]
     alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
53     13.77        1.90  2.68               17.1      115.0           3.00
64     12.17        1.45  2.53               19.0      104.0           1.89
6      14.39        1.87  2.45               14.6       96.0           2.50
1      13.20        1.78  2.14               11.2      100.0           2.65
98     12.37        1.07  2.10               18.5       88.0           3.52
157    12.45        3.03  2.64               27.0       97.0           1.90
77     11.84        2.89  2.23               18.0      112.0           1.72
166    13.45        3.70  2.60               23.0      111.0           1.70
54     13.74        1.67  2.25               16.4      118.0           2.60
148    13.32        3.24  2.38               21.5       92.0           1.93
12     13.75        1.73  2.41               16.0       89.0           2.60
97     12.29        1.41  1.98               16.0       85.0           2.55
164    13.78        2.76  2.30               22.0       90.0           1.35
9      13.86        1.35  2.27               16.0       98.0           2.98
160    12.36        3.83  2.38               21.0       88.0           2.30
152    13.11        1.90  2.75               25.5      116.0           2.20
24     13.50        1.81  2.61               20.0       96.0           2.53
39     14.22        3.99  2.51               13.2      128.0           3.00
147    12.87        4.61  2.48               21.5       86.0           1.70
95     12.47        1.52  2.20               19.0      162.0           2.50
3      14.37        1.95  2.50               16.8      113.0           3.85
165    13.73        4.36  2.26               22.5       88.0           1.28
76     13.03        0.90  1.71               16.0       86.0           1.95
117    12.42        1.61  2.19               22.5      108.0           2.00
112    11.76        2.68  2.92               20.0      103.0           1.75
126    12.43        1.53  2.29               21.5       86.0           2.74
0      14.23        1.71  2.43               15.6      127.0           2.80
141    13.36        2.56  2.35               20.0       89.0           1.40
150    13.50        3.12  2.62               24.0      123.0           1.40
63     12.37        1.13  2.16               19.0       87.0           3.50
21     12.93        3.80  2.65               18.6      102.0           2.41
176    13.17        2.59  2.37               20.0      120.0           1.65
45     14.21        4.04  2.44               18.9      111.0           2.85
94     11.62        1.99  2.28               18.0       98.0           3.02
90     12.08        1.83  2.32               18.5       81.0           1.60
47     13.90        1.68  2.12               16.0      101.0           3.10
70     12.29        1.61  2.21               20.4      103.0           1.10
38     13.07        1.50  2.10               15.5       98.0           2.40
44     13.05        1.77  2.10               17.0      107.0           3.00
133    12.70        3.55  2.36               21.5      106.0           1.70
144    12.25        3.88  2.20               18.5      112.0           1.38
119    12.00        3.43  2.00               19.0       87.0           2.00
101    12.60        1.34  1.90               18.5       88.0           1.45
100    12.08        2.08  1.70               17.5       97.0           2.23
19     13.64        3.10  2.56               15.2      116.0           2.70
105    12.42        2.55  2.27               22.0       90.0           1.68
115    11.03        1.51  2.20               21.5       85.0           2.46
140    12.93        2.81  2.70               21.0       96.0           1.54
86     12.16        1.61  2.31               22.8       90.0           1.78
131    12.88        2.99  2.40               20.0      104.0           1.30
60     12.33        1.10  2.28               16.0      101.0           2.05
59     12.37        0.94  1.36               10.6       88.0           1.98
36     13.28        1.64  2.84               15.5      110.0           2.60
23     12.85        1.60  2.52               17.8       95.0           2.48

     flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity  \
53         2.79                  0.39             1.68             6.30
64         1.75                  0.45             1.03             2.95
6          2.52                  0.30             1.98             5.25
1          2.76                  0.26             1.28             4.38
98         3.75                  0.24             1.95             4.50
157        0.58                  0.63             1.14             7.50
77         1.32                  0.43             0.95             2.65
166        0.92                  0.43             1.46            10.68
54         2.90                  0.21             1.62             5.85
148        0.76                  0.45             1.25             8.42
12         2.76                  0.29             1.81             5.60
97         2.50                  0.29             1.77             2.90
164        0.68                  0.41             1.03             9.58
9          3.15                  0.22             1.85             7.22
160        0.92                  0.50             1.04             7.65
152        1.28                  0.26             1.56             7.10
24         2.61                  0.28             1.66             3.52
39         3.04                  0.20             2.08             5.10
147        0.65                  0.47             0.86             7.65
95         2.27                  0.32             3.28             2.60
3          3.49                  0.24             2.18             7.80
165        0.47                  0.52             1.15             6.62
76         2.03                  0.24             1.46             4.60
117        2.09                  0.34             1.61             2.06
112        2.03                  0.60             1.05             3.80
126        3.15                  0.39             1.77             3.94
0          3.06                  0.28             2.29             5.64
141        0.50                  0.37             0.64             5.60
150        1.57                  0.22             1.25             8.60
63         3.10                  0.19             1.87             4.45
21         2.41                  0.25             1.98             4.50
176        0.68                  0.53             1.46             9.30
45         2.65                  0.30             1.25             5.24
94         2.26                  0.17             1.35             3.25
90         1.50                  0.52             1.64             2.40
47         3.39                  0.21             2.14             6.10
70         1.02                  0.37             1.46             3.05
38         2.64                  0.28             1.37             3.70
44         3.00                  0.28             2.03             5.04
133        1.20                  0.17             0.84             5.00
144        0.78                  0.29             1.14             8.21
119        1.64                  0.37             1.87             1.28
101        1.36                  0.29             1.35             2.45
100        2.17                  0.26             1.40             3.30
19         3.03                  0.17             1.66             5.10
105        1.84                  0.66             1.42             2.70
115        2.17                  0.52             2.01             1.90
140        0.50                  0.53             0.75             4.60
86         1.69                  0.43             1.56             2.45
131        1.22                  0.24             0.83             5.40
60         1.09                  0.63             0.41             3.27
59         0.57                  0.28             0.42             1.95
36         2.68                  0.34             1.36             4.60
23         2.37                  0.26             1.46             3.93

       hue  od280/od315_of_diluted_wines  proline
53   1.130                          2.93   1375.0
64   1.450                          2.23    355.0
6    1.020                          3.58   1290.0
1    1.050                          3.40   1050.0
98   1.040                          2.77    660.0
157  0.670                          1.73    880.0
77   0.960                          2.52    500.0
166  0.850                          1.56    695.0
54   0.920                          3.20   1060.0
148  0.550                          1.62    650.0
12   1.150                          2.90   1320.0
97   1.230                          2.74    428.0
164  0.700                          1.68    615.0
9    1.010                          3.55   1045.0
160  0.560                          1.58    520.0
152  0.610                          1.33    425.0
24   1.120                          3.82    845.0
39   0.890                          3.53    760.0
147  0.540                          1.86    625.0
95   1.160                          2.63    937.0
3    0.860                          3.45   1480.0
165  0.780                          1.75    520.0
76   1.190                          2.48    392.0
117  1.060                          2.96    345.0
112  1.230                          2.50    607.0
126  0.690                          2.84    352.0
0    1.040                          3.92   1065.0
141  0.700                          2.47    780.0
150  0.590                          1.30    500.0
63   1.220                          2.87    420.0
21   1.030                          3.52    770.0
176  0.600                          1.62    840.0
45   0.870                          3.33   1080.0
94   1.160                          2.96    345.0
90   1.080                          2.27    480.0
47   0.910                          3.33    985.0
70   0.906                          1.82    870.0
38   1.180                          2.69   1020.0
44   0.880                          3.35    885.0
133  0.780                          1.29    600.0
144  0.650                          2.00    855.0
119  0.930                          3.05    564.0
101  1.040                          2.77    562.0
100  1.270                          2.96    710.0
19   0.960                          3.36    845.0
105  0.860                          3.30    315.0
115  1.710                          2.87    407.0
140  0.770                          2.31    600.0
86   1.330                          2.26    495.0
131  0.740                          1.42    530.0
60   1.250                          1.67    680.0
59   1.050                          1.82    520.0
36   1.090                          2.78    880.0
23   1.090                          3.63   1015.0
Valores con una escala estándar:
[[ 0.71225893  2.22048673 -0.13025864 ... -0.20017028 -0.82164144
  -0.62946362]
 [ 0.88229214 -0.70457155  1.17533605 ...  1.33982592  0.54931269
   1.47568796]
 [ 0.84585645 -0.73022996  1.17533605 ...  1.06806189  0.1308109
   1.62934866]
 ...
 [ 1.02803489  2.29746195 -0.5778911  ... -1.69487249 -1.86068037
  -1.04434751]
 [-1.30384913 -1.08089484 -0.31677217 ...  0.16218176  0.73691694
   0.40313628]
 [-0.40510216  1.29678411  0.05625489 ...  1.06806189  0.73691694
  -0.89683324]]
[[ 8.94437367e-01 -3.88117877e-01  1.10073064e+00 -8.12017114e-01
   1.13201117e+00  1.09807851e+00  7.12041017e-01  1.81013423e-01
   6.62804643e-02  5.12859235e-01  7.96297849e-01  4.48295020e-01
   1.90593792e+00]
 [-1.04879931e+00 -7.72993966e-01  5.41190056e-01 -2.40938809e-01
   3.49414498e-01 -7.07219221e-01 -3.08121293e-01  6.76138376e-01
  -1.03520519e+00 -9.06567274e-01  2.24570604e+00 -5.61881713e-01
  -1.22874035e+00]
 [ 1.64744158e+00 -4.13776283e-01  2.42768413e-01 -1.56343594e+00
  -2.19746720e-01  2.84881333e-01  4.47191186e-01 -5.61674005e-01
   5.74658458e-01  6.79643589e-02  2.98063782e-01  1.38631627e+00
   1.64471473e+00]
 [ 2.02159300e-01 -4.90751501e-01 -9.13615453e-01 -2.58536553e+00
   6.48338887e-02  5.28840485e-01  6.82613258e-01 -8.91757306e-01
  -6.11556861e-01 -3.00662824e-01  4.33945800e-01  1.12655654e+00
   9.07143373e-01]
 [-8.05894728e-01 -1.09800044e+00 -1.06282627e+00 -3.91222574e-01
  -7.88907938e-01  1.94380357e+00  1.65372930e+00 -1.05679896e+00
   5.23820659e-01 -2.49817695e-01  3.88651794e-01  2.17397481e-01
  -2.91410081e-01]
 [-7.08732894e-01  5.78348747e-01  9.51519815e-01  2.16360142e+00
  -1.48601568e-01 -6.90955277e-01 -1.45580389e+00  2.16151323e+00
  -8.48799925e-01  1.02131052e+00 -1.28722643e+00 -1.28343652e+00
   3.84696996e-01]
 [-1.44959188e+00  4.58609519e-01 -5.77891105e-01 -5.41506338e-01
   9.18575715e-01 -9.83706260e-01 -7.29919172e-01  5.11096725e-01
  -1.17077265e+00 -1.03368010e+00  2.62997455e-02 -1.43379923e-01
  -7.83124318e-01]
 [ 5.05790031e-01  1.15138648e+00  8.02308994e-01  9.61331305e-01
   8.47430563e-01 -1.01623415e+00 -1.12228929e+00  5.11096725e-01
  -3.06530065e-01  2.36870643e+00 -4.71934321e-01 -1.52876516e+00
  -1.83847591e-01]
 [ 8.58001680e-01 -5.84832323e-01 -5.03285694e-01 -1.02241438e+00
   1.34544663e+00  4.47520768e-01  8.19942800e-01 -1.30436143e+00
  -3.53951345e-02  3.22190002e-01 -1.54876279e-01  8.37934618e-01
   9.37875512e-01]
 [ 3.47902051e-01  7.57957588e-01 -1.83505244e-02  5.10480012e-01
  -5.04327329e-01 -6.42163447e-01 -1.27923734e+00  6.76138376e-01
  -6.62394660e-01  1.41112317e+00 -1.83075450e+00 -1.44217858e+00
  -3.22142221e-01]
 [ 8.70146909e-01 -5.33515511e-01  9.35575917e-02 -1.14264140e+00
  -7.17762786e-01  4.47520768e-01  6.82613258e-01 -6.44194830e-01
   2.86577595e-01  2.16262651e-01  8.86885861e-01  4.05001732e-01
   1.73691115e+00]
 [-9.03056562e-01 -8.07205174e-01 -1.51045874e+00 -1.14264140e+00
  -1.00234339e+00  3.66201050e-01  4.27572680e-01 -6.44194830e-01
   2.18793862e-01 -9.27752744e-01  1.24923791e+00  1.74104193e-01
  -1.00439572e+00]
 [ 9.06582597e-01  3.47423093e-01 -3.16772167e-01  6.60763777e-01
  -6.46617634e-01 -1.58547217e+00 -1.35771136e+00  3.46055074e-01
  -1.03520519e+00  1.90262608e+00 -1.15134441e+00 -1.35559200e+00
  -4.29704710e-01]
 [ 1.00374443e+00 -8.58521986e-01 -4.28680283e-01 -1.14264140e+00
  -7.74564157e-02  1.06555062e+00  1.06517412e+00 -1.22184061e+00
   3.54361327e-01  9.02671888e-01  2.52769776e-01  1.34302298e+00
   8.91777303e-01]
 [-8.18039958e-01  1.26257291e+00 -1.83505244e-02  3.60196248e-01
  -7.88907938e-01 -4.03975371e-02 -1.12228929e+00  1.08874250e+00
  -1.01825926e+00  1.08486693e+00 -1.78546050e+00 -1.49990297e+00
  -7.21660038e-01]
 [ 9.28522366e-02 -3.88117877e-01  1.36184957e+00  1.71275013e+00
   1.20315632e+00 -2.03036972e-01 -7.69156184e-01 -8.91757306e-01
  -1.37070733e-01  8.51826759e-01 -1.55899047e+00 -1.86068037e+00
  -1.01361537e+00]
 [ 5.66516178e-01 -4.65093095e-01  8.39611699e-01  5.96287194e-02
  -2.19746720e-01  3.33673163e-01  5.35474463e-01 -7.26715656e-01
   3.23885980e-02 -6.65052913e-01  7.51003843e-01  1.73266258e+00
   2.77134506e-01]
 [ 1.44097268e+00  1.39941774e+00  4.66584645e-01 -1.98423048e+00
   2.05689815e+00  1.09807851e+00  9.57272342e-01 -1.38688226e+00
   7.44117790e-01  4.40794804e-03 -2.90758297e-01  1.31416079e+00
   1.59113176e-02]
 [-1.98633266e-01  1.92969146e+00  3.54676529e-01  5.10480012e-01
  -9.31198243e-01 -1.01623415e+00 -1.38713912e+00  8.41180026e-01
  -1.32328605e+00  1.08486693e+00 -1.87604851e+00 -1.09583227e+00
  -3.98972570e-01]
 [-6.84442436e-01 -7.13124352e-01 -6.89799221e-01 -2.40938809e-01
   4.47583333e+00  2.84881333e-01  2.01959862e-01 -3.96632354e-01
   2.77762977e+00 -1.05486557e+00  9.32179867e-01  1.53621347e-02
   5.59870193e-01]
 [ 1.62315112e+00 -3.45353867e-01  4.29281940e-01 -9.02187372e-01
   9.89720868e-01  2.48051371e+00  1.39868873e+00 -1.05679896e+00
   9.13577121e-01  1.14842334e+00 -4.26640315e-01  1.19871202e+00
   2.22862539e+00]
 [ 8.45856450e-01  1.71587141e+00 -4.65982989e-01  8.11047541e-01
  -7.88907938e-01 -1.69931977e+00 -1.56370568e+00  1.25378415e+00
  -8.31853992e-01  6.48446244e-01 -7.88992364e-01 -1.25457433e+00
  -7.21660038e-01]
 [-4.30959748e-03 -1.24339808e+00 -2.51763178e+00 -1.14264140e+00
  -9.31198243e-01 -6.09635560e-01 -3.34622098e-02 -1.05679896e+00
  -3.06530065e-01 -2.07446755e-01  1.06806189e+00 -2.01104308e-01
  -1.11503143e+00]
 [-7.45168582e-01 -6.36149134e-01 -7.27101926e-01  8.11047541e-01
   6.33995107e-01 -5.28315842e-01  2.53933081e-02 -2.31590703e-01
  -5.23410677e-02 -1.28366864e+00  4.79239806e-01  4.91588309e-01
  -1.25947249e+00]
 [-1.54675371e+00  2.79000678e-01  1.99599557e+00  5.96287194e-02
   2.78269345e-01 -9.34914430e-01 -3.34622098e-02  1.91395076e+00
  -1.00131332e+00 -5.46414279e-01  1.24923791e+00 -1.72242116e-01
  -4.54290422e-01]
 [-7.33023353e-01 -7.04571550e-01 -3.54074873e-01  5.10480012e-01
  -9.31198243e-01  6.75215977e-01  1.06517412e+00  1.81013423e-01
   2.18793862e-01 -4.87094962e-01 -1.19663842e+00  3.18415155e-01
  -1.23795999e+00]
 [ 1.45311791e+00 -5.50621115e-01  1.68163002e-01 -1.26286841e+00
   1.98575300e+00  7.72799638e-01  9.76890848e-01 -7.26715656e-01
   1.09998239e+00  2.33211027e-01  3.88651794e-01  1.87697354e+00
   9.53241582e-01]
 [ 3.96482968e-01  1.76367054e-01 -1.30258641e-01  5.96287194e-02
  -7.17762786e-01 -1.50415245e+00 -1.53427792e+00  1.59717727e-02
  -1.69609658e+00  2.16262651e-01 -1.15134441e+00 -2.15535404e-01
   7.73755972e-02]
 [ 5.66516178e-01  6.55323965e-01  8.76914404e-01  1.26189883e+00